{% include "talgoxe/header.html" %}

{% include "talgoxe/navigation.html" %}

<table id="handle-article">
  <tr>
    <td id="inmatning">
        <h2>Inmatning</h2>
        {% if current_article and is_edit_article_page %}
            <form class="edit-article" action="{% url 'edit' current_article.id %}" method="POST">
                {% csrf_token %}
                <ul id="input-control">
                <li>SO&nbsp;&nbsp;:
                    <input type="text" class='article-name' name="stickord" value="{{ current_article.lemma }}" size="16">
                    <input type="submit" value="Spara och ladda om 💾" class="spara-och-ladda-om" tabindex="-1">
                    <input type="submit" value="Ta bort 💾" class="remove-article" tabindex="-1"><br/>
                    <input type="submit" value="Kopiera" class="copy-rows" tabindex="-1">
                    <input type="submit" value="Klipp ut" class="cut-rows" tabindex="-1">
                    <input type="submit" value="Klistra in" class="paste-rows" tabindex="-1">
                    <div class="special-characters">~</div><div class="special-characters">¶</div>
                    <button type="button" class="show-current-article" onclick="showArticle({{current_article.id}})">Visa</button>
                </li>
                </ul>
                <ul class="lemma-list">
                {% for d in current_article.spolar %}
                    <li id="data-{{ d.pos }}">
                      {% spaceless %}
                        <input type="text" size="3" name="type-{{ d.pos }}" value="{{ d.typ.format }}" id="type-{{ d.pos }}" class="d-type">
                        <textarea {% if d.typ.kod == 'm1' or d.typ.kod == 'm2' %}class="hidden"{% endif %} rows="1" style="width: 55%" name="value-{{ d.pos }}" id="value-{{ d.pos }}" class="d-value">{{ d.text }}</textarea>
                        <button class="add-row" id="add-row-{{ d.pos }}" tabindex="-1"><strong>+</strong></button>
                        <button class="remove-row" id="remove-row-{{ d.pos }}" tabindex="-1"><strong>-</strong></button>
                        <button class="move-row-up" id="row-up-{{ d.pos }}" tabindex="-1"><strong>↑</strong></button>
                        <button class="move-row-down" id="row-down-{{ d.pos }}" tabindex="-1"><strong>↓</strong></button>
                        {% if d.typ.kod == 'm1' or d.typ.kod == 'm2' %}
                        <button class="move-moment-up" id="moment-up-{{ d.pos }}" tabindex="-1"><strong>⇑</strong></button>
                        <button class="move-moment-down" id="moment-down-{{ d.pos }}" tabindex="-1"><strong>⇓</strong></button>
                        {# Andra möjligheter: ⇧ U+21E7 ⇩ U+21E9 #}
                        {% endif %}
                        <input type="checkbox" class="select-field"/>
                        {% endspaceless %}
                    </li>
                {% endfor %}
                </ul>
            </form>
        {% else %}
            <form class="edit-article" action="{% url 'edit' %}" method="POST">
                {% csrf_token %}
                <ul id="input-control">
                <li>SO&nbsp;&nbsp;:
                    <input type="text" class='article-name' name="stickord" value="" size="16">
                    <input type="submit" value="Spara och ladda om 💾" class="spara-och-ladda-om" tabindex="-1">
                    <input type="submit" value="Ta bort 💾" class="remove-article" tabindex="-1"><br/>
                    <input type="submit" value="Kopiera" class="copy-rows" tabindex="-1">
                    <input type="submit" value="Klipp ut" class="cut-rows" tabindex="-1">
                    <input type="submit" value="Klistra in" class="paste-rows" tabindex="-1">
                    <div class="special-characters">~</div><div class="special-characters">¶</div>
                </li>
                </ul>
                <ul class="lemma-list">
                    <li id="data-1">
                        {% spaceless %}
                        <input type="text" size="3" name="type-1" value="" id="type-1" class="d-type">
                        <textarea rows="1" style="width: 55%" name="value-1" id="value-1" class="d-value"></textarea>
                        <button class="add-row" id="add-row-1" tabindex="-1"><strong>+</strong></button>
                        <button class="remove-row" id="remove-row-1" tabindex="-1"><strong>-</strong></button>
                        <button class="move-row-up" id="row-up-1" tabindex="-1"><strong>↑</strong></button>
                        <button class="move-row-down" id="row-down-1" tabindex="-1"><strong>↓</strong></button>
                        <button class="move-moment-up" id="moment-up-1" tabindex="-1"><strong>⇑</strong></button>
                        <button class="move-moment-down" id="moment-down-1" tabindex="-1"><strong>⇓</strong></button>
                        <input type="checkbox" class="select-field"/>
                        {% endspaceless %}
                    </li>
                </ul>
            </form>
        {% endif %}
    </td>
    <td id="artikel">
        <h2>Artikel</h2>
        <div class="show-articles-column">
            {% for article in articles_html %}
                <p>{% include 'talgoxe/article.html' %}</p>
            {% endfor %}
        </div>
    </td>
    <td id="new_search">
        <h2>S&ouml;k</h2>
        <form class="search-article" action="{% url 'edit' %}" method="POST">
            <div class="search-article-criteria">
                <select id="search-type1" class="search-select">
                  <option value="Lemma" {% if search_criteria_one.search_type == 'Lemma' %}selected="selected"{% endif %}>stickord</option>
                  <option value="ArticleItem" {% if search_criteria_one.search_type == 'ArticleItem' %}selected="selected"{% endif %}>artikeldel</option>
                  <option value="ArticleItemType" {% if search_criteria_one.search_type == 'ArticleItemType' %}selected="selected"{% endif %}>kod</option>
                  <option value="All" {% if search_criteria_one.search_type == 'All' %}selected="selected"{% endif %}>alla</option>
                </select>
                <select id="search-compare-type1" class="search-select search-compare-type">
                  <option value="StartsWith" {% if search_criteria_one.compare_type == 'StartsWith' %}selected="selected"{% endif %}>b&ouml;rjar med</option>
                  <option value="Contains" {% if search_criteria_one.compare_type == 'Contains' %}selected="selected"{% endif %}>inneh&aring;ller</option>
                  <option value="EndWith" {% if search_criteria_one.compare_type == 'EndWith' %}selected="selected"{% endif %}>slutar med</option>
                  <option value="EqualTo" {% if search_criteria_one.compare_type == 'EqualTo' %}selected="selected"{% endif %}>lika med</option>
                </select>
                <input type="text" id="search-string1" class="search-string" value="{{ search_criteria_one.search_string }}" />
            </div>
            <div class="search-article-criteria">
                <select id="search-type2" class="search-select">
                  <option value="Lemma" {% if search_criteria_two.search_type == 'Lemma' %}selected="selected"{% endif %}>stickord</option>
                  <option value="ArticleItem" {% if search_criteria_two.search_type == 'ArticleItem' %}selected="selected"{% endif %}>artikeldel</option>
                  <option value="ArticleItemType" {% if search_criteria_two.search_type == 'ArticleItemType' %}selected="selected"{% endif %}>kod</option>
                  <option value="All" {% if search_criteria_two.search_type == 'All' %}selected="selected"{% endif %}>alla</option>
                </select>
                <select id="search-compare-type2" class="search-select search-compare-type">
                  <option value="StartsWith" {% if search_criteria_two.compare_type == 'StartsWith' %}selected="selected"{% endif %}>b&ouml;rjar med</option>
                  <option value="Contains" {% if search_criteria_two.compare_type == 'Contains' %}selected="selected"{% endif %}>inneh&aring;ller</option>
                  <option value="EndWith" {% if search_criteria_two.compare_type == 'EndWith' %}selected="selected"{% endif %}>slutar med</option>
                  <option value="EqualTo" {% if search_criteria_two.compare_type == 'EqualTo' %}selected="selected"{% endif %}>lika med</option>
                </select>
                <input type="text" id="search-string2" class="search-string" value="{{ search_criteria_two.search_string }}"  />
            </div>
            <div class="search-article-criteria">
                <select id="search-type3" class="search-select">
                  <option value="Lemma" {% if search_criteria_three.search_type == 'Lemma' %}selected="selected"{% endif %}>stickord</option>
                  <option value="ArticleItem" {% if search_criteria_three.search_type == 'ArticleItem' %}selected="selected"{% endif %}>artikeldel</option>
                  <option value="ArticleItemType" {% if search_criteria_three.search_type == 'ArticleItemType' %}selected="selected"{% endif %}>kod</option>
                  <option value="All" {% if search_criteria_three.search_type == 'All' %}selected="selected"{% endif %}>alla</option>
                </select>
                <select id="search-compare-type3" class="search-select search-compare-type">
                  <option value="StartsWith" {% if search_criteria_three.compare_type == 'StartsWith' %}selected="selected"{% endif %}>b&ouml;rjar med</option>
                  <option value="Contains" {% if search_criteria_three.compare_type == 'Contains' %}selected="selected"{% endif %}>inneh&aring;ller</option>
                  <option value="EndWith" {% if search_criteria_three.compare_type == 'EndWith' %}selected="selected"{% endif %}>slutar med</option>
                  <option value="EqualTo" {% if search_criteria_three.compare_type == 'EqualTo' %}selected="selected"{% endif %}>lika med</option>
                </select>
                <input type="text" id="search-string3" class="search-string"  value="{{ search_criteria_three.search_string }}" />
            </div>
            <div>
                <input type="submit" class="search-article-button" value="S&ouml;k" default />
                <div id="number-of-found-articles">
                    Antal artiklar = {{search_articles|length}}
                </div>
            </div>
            <div>
                <input type="submit" class="show-selected-articles-button" value="Visa valda" />
                <input type="submit" class="show-all-articles-button" value="Visa alla" />
            </div>
            <ul class="search-article-result">
                {% for search_article in search_articles %}
                    <li class="nobullet search-article-result-row">
                        <a href="{% url 'edit' search_article.id %}" value="{{search_article.id}}" onClick="showArticle({{search_article.id}})" />
                            {% if search_article.rang %}
                                <sup>{{search_article.rang}}</sup>{{search_article.lemma}}
                            {% else %}
                                {{search_article.lemma}}
                            {% endif %}
                        </a>
                        <button type="button" class="show-article" onClick="showArticle({{search_article.id}})">Visa</button>
                        <input type="checkbox" class="select-article" onClick="showArticleCheckedChange({{search_article.id}})"
                            {% if search_article.checked %} checked {% endif %}
                        >
                    </li>
                {% endfor %}
            </ul>
        </form>
    </td>
  </tr>
</table>

{% include "talgoxe/footer.html" %}
