<nav class="navigation">
    <ul>
        <li><p>Användare: {{ request.user }}</p></li>
        <li>
            {% if create_article %}
                <a class="active" href="{% url 'redigera' %}">Skapa artikel</a>
            {% else %}
                <a href="{% url 'redigera' %}">Skapa artikel</a>
            {% endif %}
        </li>
        <li>
            {% if current_article %}
                {% if edit_article %}
                    <a class="active" href="{% url 'redigera' current_article.id %}">Redigera artikel</a>
                {% else %}
                    <a href="{% url 'redigera' current_article.id %}">Redigera artikel</a>
                {% endif %}
            {% else %}
                {% if edit_article %}
                    <a class="active" href="{% url 'redigera' %}">Redigera artikel</a>
                {% else %}
                    <a href="{% url 'redigera' %}">Redigera artikel</a>
                {% endif %}
            {% endif %}
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Skapa fil &darr;</a>
            <div class="dropdown-content">
                <a href="{% url 'get_odf_file' %}">ODF fil</a>
                <a href="{% url 'get_pdf_file' %}" target="_blank">PDF fil</a>
                <a href="{% url 'get_word_file' %}">Word fil</a>
            </div>
        </li>
        <li>
            {% if print_on_demand %}
                <a class="active" href="{% url 'print_on_demand' %}">Anpassat urval</a>
            {% else %}
                <a href="{% url 'print_on_demand' %}">Anpassat urval</a>
            {% endif %}
        </li>
        <li style="float:right"><a href="{% url 'easylogout' %}">Logga ut</a></li>
    </ul>
</nav>
