<nav class="navigation">
    <ul>
        <li><p>Användare: {{ request.user }}</p></li>
        <li>
            {% if is_create_article_page %}
                <a class="active" href="{% url 'edit' %}">Skapa artikel</a>
            {% else %}
                <a href="{% url 'edit' %}">Skapa artikel</a>
            {% endif %}
        </li>
        <li>
            {% if current_article %}
                {% if is_edit_article_page %}
                    <a class="active" href="{% url 'edit' current_article.id %}">Redigera artikel</a>
                {% else %}
                    <a href="{% url 'edit' current_article.id %}">Redigera artikel</a>
                {% endif %}
            {% else %}
                {% if is_edit_article_page %}
                    <a class="active" href="{% url 'edit' %}">Redigera artikel</a>
                {% else %}
                    <a href="{% url 'edit' %}">Redigera artikel</a>
                {% endif %}
            {% endif %}
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Skapa fil &darr;</a>
            <div class="dropdown-content">
                <a href="{% url 'get_odf_file' %}">ODF fil</a>
                {% if has_articles_html %}
                    <a id="get-pdf-file" href="{% url 'get_pdf_file' %}" target="_blank">PDF fil</a>
                {% else %}
                    <a id="get-pdf-file" href="{% url 'get_pdf_file' %}">PDF fil</a>
                {% endif %}
                <a href="{% url 'get_word_file' %}">Word fil</a>
            </div>
        </li>
        <li>
            {% if print_on_demand %}
                <a class="active" href="{% url 'select_articles' %}">Anpassat urval</a>
            {% else %}
                <a href="{% url 'select_articles' %}">Anpassat urval</a>
            {% endif %}
        </li>
        <li style="float:right"><a href="{% url 'talgoxe_logout' %}">Logga ut</a></li>
    </ul>
</nav>
