{% include "talgoxe/header.html" %}

{% include "talgoxe/navigation.html" %}

<table style="margin-top:70px;" id="handle-article">
  <tr>
    <td id="inmatning">
        <h2>Inmatning</h2>
        {% if edit_artikel %}
            <form class="edit-article" action="{% url 'redigera' edit_artikel.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="clipboard" class="clipboard" value="{{ clipboard }}">
                <ul id="input-control">
                <li>SO&nbsp;&nbsp;:
                    <input type="text" class='article-name' name="stickord" value="{{ edit_artikel.lemma }}" size="16">
                    <input type="submit" value="Spara och ladda om 💾" class="spara-och-ladda-om" tabindex="-1">
                    <input type="submit" value="Ta bort 💾" class="remove-article" tabindex="-1"><br/>
                    <input type="submit" value="Kopiera" class="copy-rows" tabindex="-1">
                    <input type="submit" value="Klipp ut" class="cut-rows" tabindex="-1">
                    <input type="submit" value="Klistra in" class="paste-rows" tabindex="-1">
                    <button type="button" class="show-current-article" onclick="showArticle({{edit_artikel.id}})">Visa</button>
                </li>
                </ul>
                <ul class="lemma-list">
                {% for d in edit_artikel.spolar %}
                    <li id="data-{{ d.pos }}">
                      {% spaceless %}
                        <input type="text" size="3" name="type-{{ d.pos }}" value="{{ d.typ.format }}" id="type-{{ d.pos }}" class="d-type">
                        <textarea {% if d.typ.kod == 'm1' or d.typ.kod == 'm2' %}class="hidden"{% endif %} rows="1" style="width: 55%" name="value-{{ d.pos }}" id="value-{{ d.pos }}" class="d-value">{{ d.text }}</textarea>
                        <button class="add-row" id="add-row-{{ d.pos }}" tabindex="-1"><strong>+</strong></button>
                        <button class="remove-row" id="remove-row-{{ d.pos }}" tabindex="-1"><strong>-</strong></button>
                        <button class="move-row-up" id="row-up-{{ d.pos }}" tabindex="-1"><strong>↑</strong></button>
                        <button class="move-row-down" id="row-down-{{ d.pos }}" tabindex="-1"><strong>↓</strong></button>
                        {% if d.typ.kod == 'm1' or d.typ.kod == 'm2' %}
                        <button class="move-moment-up" id="moment-up-{{ d.pos }}" tabindex="-1"><strong>⇑</strong></button>
                        <button class="move-moment-down" id="moment-down-{{ d.pos }}" tabindex="-1"><strong>⇓</strong></button>
                        {# Andra möjligheter: ⇧ U+21E7 ⇩ U+21E9 #}
                        {% endif %}
                        <input type="checkbox" class="select-field"/>
                        {% endspaceless %}
                    </li>
                {% endfor %}
                </ul>
            </form>
        {% else %}
            <form class="edit-article" action="{% url 'redigera' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="clipboard" class="clipboard" value="{{ clipboard }}">
                <ul id="input-control">
                <li>SO&nbsp;&nbsp;: <input type="text" class='article-name' name="stickord" value="" size="16">
                            <input type="submit" value="Spara och ladda om 💾" class="spara-och-ladda-om" tabindex="-1">
                            <input type="submit" value="Ta bort 💾" class="remove-article" tabindex="-1"><br/>
                            <input type="submit" value="Kopiera" class="copy-rows" tabindex="-1">
                            <input type="submit" value="Klipp ut" class="cut-rows" tabindex="-1">
                            <input type="submit" value="Klistra in" class="paste-rows" tabindex="-1"></li>
                </ul>
                <ul class="lemma-list">
                    <li id="data-1">
                        {% spaceless %}
                        <input type="text" size="3" name="type-1" value="" id="type-1" class="d-type">
                        <textarea rows="1" style="width: 55%" name="value-1" id="value-1" class="d-value"></textarea>
                        <button class="add-row" id="add-row-1" tabindex="-1"><strong>+</strong></button>
                        <button class="remove-row" id="remove-row-1" tabindex="-1"><strong>-</strong></button>
                        <button class="move-row-up" id="row-up-1" tabindex="-1"><strong>↑</strong></button>
                        <button class="move-row-down" id="row-down-1" tabindex="-1"><strong>↓</strong></button>
                        <button class="move-moment-up" id="moment-up-1" tabindex="-1"><strong>⇑</strong></button>
                        <button class="move-moment-down" id="moment-down-1" tabindex="-1"><strong>⇓</strong></button>
                        <input type="checkbox" class="select-field"/>
                        {% endspaceless %}
                    </li>
                </ul>
            </form>
        {% endif %}
    </td>
    <td id="artikel">
        <h2>Artikel</h2>
        <div class="show-articles-column">
            {% for artikel in articles %}
                <p>{% include 'talgoxe/artikel.html' %}</p>
            {% endfor %}
        </div>
    </td>
    <td id="new_search">
        <h2>S&ouml;k</h2>
        <form class="search-article" action="{% url 'redigera' %}" method="POST">
            <div>
                <select id="search-type1" class="search-select">
                  <option value="Lemma">stickord</option>
                  <option value="ArticleItem">artikeldel</option>
                  <option value="ArticleItemType">artikeldelstyp</option>
                  <option value="All">alla</option>
                </select>
                <select id="search-compare-type1" class="search-select search-compare-type">
                  <option value="StartsWith">b&ouml;rjar med</option>
                  <option value="Contains">inneh&aring;ller</option>
                  <option value="EndWith">slutar med</option>
                  <option value="EqualTo">lika med</option>
                </select>
                <input type="text" id="search-string1" class="search-string" />
            </div>
            <p>
                <input type="submit" class="search-article-button" value="S&ouml;k" />
                <input type="submit" class="show-all-articles-button" value="Visa alla" />
            </p>
            <div id="number-of-found-articles">Antal artiklar = 0</div>
            <ul class="search-article-result">
            </ul>
        </form>
    </td>
  </tr>
</table>

{% include "talgoxe/footer.html" %}
