{% include "talgoxe/header.html" %}

{% include "talgoxe/navigation.html" %}

  <h2>{{ titel }}</h2>

  <p>
    <a id="skapa-pdf">Skapa PDF</a>
    <a id="skapa-odf">Skapa ODT</a>
    <a id="skapa-docx">Skapa Word</a>
  </p>

  <p id="omordna-artiklar">
    <button id="omordna">Omordna</button>
  </p>

  <form action="{% url 'reordering' %}" method="POST" id="omordna-form">
    {% csrf_token %}
    <p>
      <input type="submit" value="Spara ordning" id="spara-ordning" class="hidden" />
      <span id="visa-alla">▸</span>
      <span id="visa-alla-text">Visa alla</span>
    </p>

    <p>
      <ul>
        {% for article in articles %}
          <li class="träff virgin" id="lemma-{{ article.id }}">
            <button class="flytta-upp hidden"><strong>↑</strong></button>
            <button class="flytta-ner hidden"><strong>↓</strong></button>
            <span class="träffelement">▸</span>
            <span class="träffelement">{% include "talgoxe/lemma.html" %}</span>
            <span class="träffelement hidden" id="artikel-{{ article.id }}"></span>
            <a href="{% url 'edit' article.id %}">Redigera</a>
            <input type="hidden" name="artikel-{{ article.id }}" />
            <p class="hidden" />
          </li>
        {% endfor %}
      </ul>
    </p>
  </form>

{% include "talgoxe/footer.html" %}
