html {
  /* Production */
  /* background-color:#ccf; */

  /* Test */
  background-color:lightyellow;
}

body {
    font-family: 'Droid Serif', Georgia, Times, serif, roman;
    margin: 8px;
}

#artikel {
  vertical-align: top;
  border: 1px solid black;
  width: 28%;
  height: 480px;
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'Droid Serif', Georgia, Times, serif, roman;
  background: white;
  padding: 0px;
}

#artikel h2 {
  margin: 4px;
}

#new_search {
  vertical-align: top;
  overflow-y: hidden;
  overflow-x: hidden;
  border: 1px solid black;
  width: 25%;
  height: 500px;
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'Droid Serif', Georgia, Times, serif, roman;
  padding: 0px;
}

.select-article {
  float: right;
  margin-right: 4px;
  margin-top: 2px;
}

.search-article-button {
  display: inline;
}

.search-article-criteria {
  border: 1px solid black;
  margin-bottom: 4px;
}

.search-article div {
  margin-bottom: 4px;
  margin-top: 4px;
}

.search-select {
  margin: 2px;
}

.search-compare-type {
  float: right;
}

.search-string {
  margin-right: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  width: 97%;
}

.print-document {
    background: lightgrey;
    border: 1px solid black;
    margin: 4px;
}

.article-link {
    background: white;
    border: 0px;
    margin: 4px;
}

.d-type {
  font-family: 'Arial';
  margin-left: 2px;
  vertical-align: top;
}

#inmatning {
  border: 1px solid black;
  width: 47%;
  height: 410px;
  font-family: 'Courier';
  padding: 0px;
  vertical-align: top;
}

#inmatning h2 {
  margin: 4px;
}

#new_search h2 {
  margin: 4px;
}

#new_search div {
  margin: 4px;
}

.d-value {
  font-family: 'Courier';
}

.edit-article {
  font-family: 'Arial';
}

#input-control input {
    margin: 2px;
}

#inmatning li:nth-child(2n) {
  background: green;
}

#inmatning li {
    list-style-type: none;
    margin-left: -3px;
    font-size: 13px;
}

#input-control {
    margin-block-start: 2px;
    margin-block-end: 2px;
    padding-inline-start: 4px;
}

.lemma-list {
  border: 1px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 510px;
  margin-bottom: 0%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0%;
  font-family: 'Courier';
  padding-inline-start: 0px;
}

.search-article-result {
  border: 1px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 327px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 2px;
  font-family: 'Courier';
  padding-inline-start: 0px;
}

.search-article-result li {
  margin-top: 3px;
  margin-left: 3px;
}

.search-article-result button {
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  margin-bottom: 4px;
  margin-left: 2px;
  margin-right: 6px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.select-field {
  margin-left: 4px;
  margin-top: 6px;
}

.show-articles-column {
  border: 1px solid black;
  height: 560px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#number-of-found-articles {
  border: 0px;
  display: inline;
  float:right;
  margin-right: 4px;
}

#handle-article {
  width: 100%;
  height: 550px;
}

#handle-article h2 {
  margin-block-start: 4px;
  margin-block-end: 4px;
}

.show-article {
  float: right;
  font-size: 70%;
  margin-top: 0px;
  margin-right: 6px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding: 0px 0px;
}

.show-current-article {
  float: right;
  font-size: 100%;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 2px;
  margin-left: 2px;
  padding: 0px 0px;
}

.show-all-articles-button {
  float: right;
}

#ordlista {
  /*
  width: 16%;
  float: left;
  */
  /* position: absolute; */
  /* position: fixed;
  /* left: 80%; */
}

.SO {
  font-weight: bold;
}

.SOV {
  font-weight: bold;
}

.OK {
  font-size: x-small;
}

.OKT {
  font-size: x-small;
}

.KO {
  display: none;
}

.G {
  font-size: x-small;
}

.GÖ {
  font-size: x-small;
}

.DSP {
  font-style: italic;
}

.SP {
  font-style: italic;
}

.TIP {
  font-size: x-small;
}

.IP {
}

.M1 {
  font-weight: bold;
}

.M2 {
  font-weight: bold;
}

.VH {
}

.HH {
}

.VR {
}

.HR {
}

.REF {
  font-weight: bold;
  font-size: x-small;
}

.FO {
  font-style: italic;
}

.TIK {
  font-style: italic;
  font-size: x-small;
}

.FLV {
  font-weight: bold;
  font-size: x-small;
}

.ÖVP {
}

.ÖVP:before {
  content: '('
}

.ÖVP:after {
  content: ')'
}

.OG {
  text-decoration: line-through;
}

.ÄV {
  /* content: 'äv.' */ /* Inte längre nödvändigt */
}

.GT {
  font-size: x-small;
}

.US {
  font-style: italic;
}

.red {
  background: red;
}

.hidden {
  display: none;
}

li.träff {
  list-style: none;
}

.träff .träffelement {
  cursor: pointer;
}

.nobullet {
  list-style: none;
}

.bokstav {
  display: inline;
}

a#skapa-pdf {
  appearance: button;
  -webkit-appearance: button;
  -moz-appearance: button;
  text-decoration: none;
  color: initial;
  cursor: pointer;
}

a#skapa-odf, a#skapa-docx {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  cursor: pointer;
  text-decoration: none;
  color: initial;
}

.add-row, .remove-row, .move-row-up, .move-row-down, .move-moment-up, .move-moment-down, .spara-och-ladda-om, .select-field {
  font-family: 'Arial';
  vertical-align: top;
}

#lemmata-to-select {
  float: left;
  width: 50%;
}

#selected-lemmata {
  float: left;
  left: 50%;
  width: 50%;
}

#visa-alla, #visa-alla-text {
  cursor: pointer;
}


.navigation{
    background-color: #f3f3f3;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0;
    width: 100%;
}

.navigation ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li p {
    display: block;
    color: #666;
    margin: 0px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover:not(.active) {
    background-color: #ddd;
}

.navigation li a.active {
    color: white;
    background-color: #4CAF50;
}

.navigation li {
    border-right: 1px solid #bbb;
}

.navigation li:last-child {
    border-right: none;
}


.navigation li:last-child {
    border-right: none;
}



.navigation li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
}

.navigation li.dropdown {
    display: inline-block;
}

.navigation .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navigation .dropdown-content a {
    color: #666;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navigation .dropdown-content a:hover {background-color: #f1f1f1}

.navigation .dropdown:hover .dropdown-content {
    display: block;
}

