html {
  /* Production */
  /* background-color:#ccf; */

  /* Test */
  background-color:lightyellow;
}

body {
    font-family: 'Droid Serif', Georgia, Times, serif, roman;
    margin: 8px;
}

#artikel {
  vertical-align: top;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
  width: 39%;
  height: 300px;
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'Courier';
  background: white;
  padding: 4px;
}

#artikel a {
  margin: 4px;
  border: 1px solid black;
  background: lightgrey;
}

#inmatning {
  border: 1px solid black;
  width: 57%;
  height: 300px;
  margin-right: 2%;
  font-family: 'Courier';
}

#inmatning li:nth-child(2n) {
  background: green;
}

#inmatning li {
  list-style-type: none;
  margin-left: -3px;
}

#input-control {
    padding-inline-start: 4px;
}

#input-control input {
    margin: 2px;
}

.lemma-list {
  border: 1px solid black;
  width: 98%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
  margin-bottom: 0%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 0%;
  font-family: 'Courier';
  padding-inline-start: 0px;
}

.select-field {
  margin-left: 4px;
  margin-top: 6px;
}

#twospalter {
  width: 100%;
  height: 500px;
}

#twospalter h2 {
  margin-block-start: 4px;
  margin-block-end: 4px;
}

#ordlista {
  /*
  width: 16%;
  float: left;
  */
  /* position: absolute; */
  /* position: fixed;
  /* left: 80%; */
}

.SO {
  font-weight: bold;
}

.SOV {
  font-weight: bold;
}

.OK {
  font-size: x-small;
}

.OKT {
  font-size: x-small;
}

.KO {
  display: none;
}

.G {
  font-size: x-small;
}

.GÖ {
  font-size: x-small;
}

.DSP {
  font-style: italic;
}

.SP {
  font-style: italic;
}

.TIP {
  font-size: x-small;
}

.IP {
}

.M1 {
  font-weight: bold;
}

.M2 {
  font-weight: bold;
}

.VH {
}

.HH {
}

.VR {
}

.HR {
}

.REF {
  font-weight: bold;
  font-size: x-small;
}

.FO {
  font-style: italic;
}

.TIK {
  font-style: italic;
  font-size: x-small;
}

.FLV {
  font-weight: bold;
  font-size: x-small;
}

.ÖVP {
}

.ÖVP:before {
  content: '('
}

.ÖVP:after {
  content: ')'
}

.OG {
  text-decoration: line-through;
}

.ÄV {
  /* content: 'äv.' */ /* Inte längre nödvändigt */
}

.GT {
  font-size: x-small;
}

.US {
  font-style: italic;
}

.red {
  background: red;
}

.hidden {
  display: none;
}

li.träff {
  list-style: none;
}

.träff .träffelement {
  cursor: pointer;
}

.nobullet {
  list-style: none;
}

.bokstav {
  display: inline;
}

a#skapa-pdf {
  appearance: button;
  -webkit-appearance: button;
  -moz-appearance: button;
  text-decoration: none;
  color: initial;
  cursor: pointer;
}

a#skapa-odf, a#skapa-docx {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  cursor: pointer;
  text-decoration: none;
  color: initial;
}

.d-type, .add-row, .remove-row, .move-row-up, .move-row-down, .move-moment-up, .move-moment-down, .spara-och-ladda-om, .select-field {
  vertical-align: top;
}

#lemmata-to-select {
  float: left;
  width: 50%;
}

#selected-lemmata {
  float: left;
  left: 50%;
  width: 50%;
}

#visa-alla, #visa-alla-text {
  cursor: pointer;
}
